/***********************************************
** BASIC
***********************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/background.png");
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/background.png");
    background-position: center;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    font-size: 20px;
    color: $white;
    position: relative;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo {
    width: 600px;
    margin: 50px auto;
    
    img {
        width: 100%;
    }
}
