/***********************************************
** TYPOGRAPHY
***********************************************/
h1 {
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 125%;
    font-weight: 400;
}

p {
    font-size: 240%;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 100px;
    color: $black;
}

p {
    span {
        display: inline-block;
        background-color: $yellow;
        padding: 10px;
    }
}


@for $i from 1 through 4 {
    #span-#{$i} {
        
        @if $i == 1 {
            animation-delay: 0.1s;
        } @else {
            animation-delay: ($i / 10) * 5s;
        }
    }
}

